body {
    font-size: 16px;
    font-family: helvetica, sans-serif;
    color: #FFF5EE;
    background-color: #000;
    opacity: 0.9;
    text-align: center;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFF5EE;
}

header h1 {
    font-size: 1rem;
}


#logo {
    margin: 0px 80px;
    height: 100px;
}



nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    color: #FFF5EE;
    padding: 16px;
}

nav a {
    color: #FFF5EE;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    height: 682px;
    width: 1024px;
    background-image: url('./resources/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h2,
.about p  {
    width: 100%;
    background-color: #000;
    opacity: 0.9;
    margin: 0px auto;
    padding: 15px;
    line-height: 1.5rem;
}

.featured {
    margin: 75px auto;
}

.food-container {
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #FFF5EE;
    padding: 20px;
}

.food img {
    height: 300px;
    width: 400px;
    margin: 0px 10px;
}

.food p {
    margin: 10px auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 50px;
    font-size: 1.25rem;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    #logo {
        height: 50px;
    }

    header {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    nav li {
        display: flex;
    }

    }

    @media only screen and (min-width: 320px) and (max-width: 425px) {
        
        
        .about {
            max-height: 100%;
            width: 100%;
            line-height: 2rem;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 425px) {
        .food-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .food img {
            width: 18.75rem;
        }
    } 

    @media only screen and (min-width: 856px) {
        .food-container {
            display: flex;
            flex-wrap: wrap;
        }
    }
